VITE_AXIOM_ORGANIZATION_ID=test-org
VITE_ORGANIZATION_ID=test-org
VITE_AXIOM_GATEWAY_API_URL=/intelligence-service
VITE_DOCUMENT_API_BASE_URL=/document-api
VITE_CORPUS_API_BASE_URL=/corpus-api
VITE_METHODS_HUB_API_BASE_URL=/methods-hub
VITE_METHODS_HUB_ADMIN_TOKEN=test-org
